div.main-body {
    display: grid;
    grid-gap: 20px;
}
   
main#main-doc {
    grid-area: mainContent;
}

table, th, td {
    margin-top: 10px;
    border:1px solid black;
  }
   
header {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
   
code {
    background-color: #CCC;
    display: block;
    padding: 20px;
}