.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.header {
    text-align: center;
}

.header2 {
    text-align: center;
    font-size: 20px;
}

.email {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}